body {
  padding: 20px;
}
table {
  margin-top: 20px;
  margin-bottom: 20px;
}
.table th, .table td {
  padding: 5px;
}
.table th.fit, .table td.fit {
  white-space: nowrap;
  width: 1%;
}

.fooldalra {
  margin-bottom: 20px;
}
