<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Aláírások</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<h2>Aláírások adatai:</h2>
<table class="table table-striped table-hover table-bordered">
  <thead>
  <tr>
    <th>Vezetéknév</th>
    <th>Keresztnév</th>
    <th>Második keresztnév</th>
    <th>Nő</th>
    <th>Szerkesztés</th>
  </tr>
  </thead>
  <tbody>
  <tr th:if="${alairasok.empty}">
    <td colspan="2"> Nincsenek aláírások</td>
  </tr>
  <tr th:classappend="${alairas.nemeNo} ? table-danger" th:each="alairas : ${alairasok}">
    <td><span th:text="${alairas.vezeteknev}"></span></td>
    <td><span th:text="${alairas.utonev}"></span></td>
    <td><span th:text="${alairas.utonev_2}"></span></td>
    <td><input type="checkbox" th:checked="${alairas.nemeNo}" disabled></td>
    <td><a class="btn btn-primary btn-sm" th:href="@{/szerkesztes/} + ${alairas.id}">Szerkesztés</a></td>
  </tr>
  </tbody>
</table>
<a class="btn btn-success" href="/hozzaadas" role="button">Új aláírás hozzáadása</a>
</body>
</html>
