<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Aláírás hozzáadása</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<a class="btn btn-primary fooldalra" href="/" role="button">Vissza a főoldalra</a>
<form method="post" action="/hozzaadas">
  <h2>Új aláírás felvétele</h2>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Vezetéknév</th>
      <th>Keresztnév</th>
      <th>Második keresztnév</th>
      <th>Nő</th>
      <th>Megjegyzés</th>
      <th class="fit">Mentés</th>
    </tr>
    </thead>
    <tbody>


<!--    <datalist id="utonevek">-->
<!--      <option></option>-->
<!--      <option th:data-value="${utonev.id}" th:each="utonev : ${utonevek}" th:text="${utonev.nev}"-->
<!--              required="required"></option>-->
<!--    </datalist>-->


    <tr>
      <td><input type="text" name="vezeteknev" required="required"></td>

      <td>
        <select style="width: 100%" name="utonevId">
          <option th:value="${utonev.id}" th:each="utonev : ${utonevek}" th:text="${utonev.nev}"
                  required="required"></option>
        </select>
      </td>

      <td>
        <select style="width: 100%" name="utonev_2Id">
          <option></option>
          <option th:value="${utonev.id}" th:each="utonev : ${utonevek}" th:text="${utonev.nev}"></option>
        </select>

<!--        <input style="width: 100%" list="utonevek" name="utonev_2Id"/>-->

      </td>

      <td><input type="checkbox" name="nemeNo"></td>
      <td><input type="text" name="megjegyzes"></td>
      <td class="fit">
        <button class="btn btn-success btn-sm" type="submit">Mentés</button>
      </td>
    </tr>
    </tbody>
  </table>


  <!--  jquery autocomplete-->


</form>

</body>
</html>
