<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Aláírás módosítása</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<a class="btn btn-primary fooldalra" href="/" role="button">Vissza a főoldalra</a>
<form method=post th:action="@{/szerkesztes/} + ${alairas.id}">
  <h2>Aláírás szerkesztése</h2>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Vezetéknév</th>
      <th>Keresztnév</th>
      <th>Második keresztnév</th>
      <th>Nő</th>
      <th>Megjegyzés</th>
      <th>Mentés</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><input type="text" th:value="${alairas.vezeteknev}" name="vezeteknev" required="required"></td>

      <td>
        <select style="width: 100%" name="utonevId" >
          <option th:value="${utonev.id}" th:each="utonev : ${utonevek}" th:text="${utonev.nev}"
                  required="required"
                  th:selected="(${utonev.id} == *{alairas.utonev.id})">
          </option>
        </select>
      </td>

      <td>
        <select style="width: 100%" name="utonev_2Id">
          <option></option>
          <option th:value="${utonev.id}" th:each="utonev : ${utonevek}" th:text="${utonev.nev}"
                  th:selected="(${utonev.id} == *{alairas.utonev_2?.id})">
          </option>
        </select>
      </td>

      <td><input type="checkbox" name="nemeNo" th:checked="${alairas.nemeNo}"></td>
      <td><input type="text" name="megjegyzes" th:text="${utonev.megjegyzes}"></td>
      <td><button class="btn btn-success btn-sm" type="submit">Mentés</button></td>
    </tr>

    <tr th:if="${hasonloNevek}">
      <td class="text-center text-danger font-weight-bold" colspan="5">
        <h3>Hasonló nevek:</h3>
      </td>
    </tr>
    <tr th:classappend="${hasonlo.nemeNo} ? table-danger" th:each="hasonlo : ${hasonloNevek}">
      <td><span th:text="${hasonlo.vezeteknev}"></span></td>
      <td><span th:text="${hasonlo.utonev}"></span></td>
      <td><span th:text="${hasonlo.utonev_2}"></span></td>
      <td><input type="checkbox" th:checked="${hasonlo.nemeNo}" disabled></td>
      <td><a class="btn btn-primary btn-sm" th:href="@{/szerkesztes/} + ${hasonlo.id}">Szerkesztés</a>
        <a class="btn btn-danger btn-sm" th:href="@{/torles/} + ${alairas.id}"
           onclick="return confirm('Biztosan törlöd az aláírást?');">Törlés</a>
      </td>
    </tr>
    </tbody>
  </table>



  <!--  jquery autocomplete-->





</form>

</body>
</html>
