<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Aláírás módosítása</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<a class="btn btn-primary fooldalra" href="/tl" role="button">Vissza a főoldalra</a>
<form method=post th:action="@{/szerkesztes/} + ${alairas.id}">
  <h2>Aláírás szerkesztése</h2>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Vezetéknév</th>
      <th>Keresztnév</th>
      <th>2. keresztnév</th>
      <th class="fit">Nő</th>
      <th>Ki ő?</th>
      <th>Megjegyzés</th>
      <th class="fit">Mentés</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><input type="text" th:value="${alairas.vezeteknev}" name="vezeteknev" required="required"></td>

      <td>
        <select style="width: 100%" name="utonevId" >
          <option th:value="${utonev.id}" th:each="utonev : ${utonevek}" th:text="${utonev.nev}"
                  required="required"
                  th:selected="(${utonev.id} == *{alairas.utonev.id})">
          </option>
        </select>
      </td>

      <td>
        <select style="width: 100%" name="utonev_2Id">
          <option></option>
          <option th:value="${utonev.id}" th:each="utonev : ${utonevek}" th:text="${utonev.nev}"
                  th:selected="(${utonev.id} == *{alairas.utonev_2?.id})">
          </option>
        </select>
      </td>

      <td class="fit"><input type="checkbox" name="nemeNo" th:checked="${alairas.nemeNo}"></td>
      <td><input style="width: 100%" type="text" name="infoLink" th:value="${alairas.infoLink}"></td>
      <td><input style="width: 100%" type="text" name="megjegyzes" th:value="${alairas.megjegyzes}"></td>
      <td><button class="btn btn-success btn" type="submit">Mentés</button></td>
    </tr>
    </tbody>
  </table>
</form>

<h3 class="text-danger" th:if="${hasonloNevek}">Hasonló nevek:</h3>
<table th:if="${hasonloNevek}" class="table table-bordered">
  <thead>
  <tr>
    <th>Vezetéknév</th>
    <th>Keresztnév</th>
    <th class="fit">2. keresztnév</th>
    <th class="fit">Nő</th>
    <th class="fit">Ki ő?</th>
    <th>Megjegyzés</th>
    <th class="fit">Műveletek</th>
  </tr>
  </thead>
  <tbody>
  <tr th:classappend="${hasonlo.nemeNo} ? table-danger" th:each="hasonlo : ${hasonloNevek}">
    <td><span th:text="${hasonlo.vezeteknev}"></span></td>
    <td><span th:text="${hasonlo.utonev}"></span></td>
    <td class="fit"><span th:text="${hasonlo.utonev_2}"></span></td>
    <td><input type="checkbox" th:checked="${hasonlo.nemeNo}" disabled></td>
    <td class="fit"><a th:if="${hasonlo.infoLink}" th:href="${hasonlo.infoLink}" target="_blank">Információ</a></td>
    <td><span th:text="${hasonlo.megjegyzes}"></span></td>
    <td class="fit"><a class="btn btn-primary btn" th:href="@{/szerkesztes/} + ${hasonlo.id}">Szerkesztés</a>
      <a class="btn btn-danger btn" th:href="@{/torles/} + ${alairas.id}"
         onclick="return confirm('Biztosan törlöd az aláírást?');">Törlés</a>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
